.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.sqContainer{
    ##transform:rotate(90deg); scale(.5);
    width:100%;
    height:100%;

}
.lilPixels{
    height:5rem;
    width:100%;
}
